@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,900;1,100&display=swap');

body {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    margin: 0;
}

button {
    padding: 30px;
 /*   width: 300px; */
    align-self: stretch;
    background-color: bisque;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
}

p {
    margin-top: -20px;
    margin-left: 15px;
}

.header {
    flex: 0 1 5%;
    text-align: center;
    background-color: rgb(2, 60, 107);
    color: white;
    margin: 0;
    padding: 15px;
}

.container {
    display: flex;
    flex: 1 1;
    padding: 2rem 15px;
    gap: 15px;
}

.playerChoices {
    flex: 1 2 auto;
    display: flex;
    max-width: 28%;
    flex-direction: column;
    padding: 0 30px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.compChoice {
    flex: 2 1 auto;
    display: flex;
  /*  align-items: stretch;  */
    justify-content: center;
    margin: 0;
    padding: 0;
}

.display {
 /*   width: 40rem; 
    height: 20rem;  */
    flex: 1 1 100%;
/*    height: 347px;
    max-height: 347px;  */
    flex-direction: column;
    gap: 10px;
 /*   display: flex;  */
    background-color: rgb(76, 138, 253);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-right: 15px;
}

.gameover{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding-top: 14%;
}